* {
    box-sizing: border-box;
}

body {
    background-image: url("brickwall.jpg");
    background-size: 100%;
    background-position: center fixed;
    margin-top: 2.5%;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    top: 0;
    text-align: center;
}

 li {
    display: flex;
    flex-direction: column;
    background-image: url("spiderbutton3.jpg");
    background-size: 100%;
    background-position: center;
    background-position: fixed;
 }

 li a{
    color: white;
    text-decoration: none;
 }

img {
    max-height: 100%;
    min-width: 10%;
    object-fit: fill;
    border: solid black;
 }

 .anchor {
    display: flex;
 }
 .flex-container {
    display: flex;
    justify-content: center;
    padding: 1em;
 }

 .flex {
    margin: .25%;
    padding: .25em;
    width: 15%;
    background-image: none;
 }

 .text {
    width: 60%;
    justify-content: center;
    margin: auto;
    border: solid black;
 }

 .nav-bar {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 1rem;
    position: sticky; 
 }

 .spiderverse {
    display: flex;
    flex-direction: column;
    background-image: url("spiderversebutton2.jpg");
    background-size: 100%;
    background-position: center;
    background-position: fixed;

    margin: .25em;
    padding: .25em;
    width: 500%;
    border: solid black;
    border-radius: 8px;
    letter-spacing: .2em;
    font-size: 120%;
}

 .nav-item {
    margin: .25em;
    padding: .25em;
    width: 500%;
    border: solid black;
    border-radius: 8px;
    letter-spacing: .2em;
    font-size: 120%;
 }
header {
    font-size: 300%;
    font-weight: bold;
    text-align: center;
    border-bottom: solid;
    border-top: solid;
}

#wrapper {
    display: flex;
    flex-direction: column;
	width: 65%;
    margin: auto;
	box-shadow: 3px 3px 3px 3px #333333;
    background-color: navy;
    
}

@media (max-width:800px) {
    .nav-bar {
        display: flex;
        flex-direction: column;
    }

    .nav-item {
        margin: 0.05em;
        padding: .25em;
        width: 100%;
        border: solid black;
        border-radius: 0;
    }
}

@media (max-width:600px) {
    .nav-bar {
        display: flex;
        flex-direction: column;
        display: none;
    }

    .nav-item {
        margin: 0.05em;
        padding: .25em;
        width: 100%;
        border: solid black;
        border-radius: 0;
        display: none;
    }
}